<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
        <table border="1px">
            <tr>
                <td>姓名</td>
                <td>年龄</td>
                <td>邮箱</td>
                <td>操作</td>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{user.username}}</td>
                <td>{{user.age}}</td>
                <td>{{user.email}}</td>
                <td>
                    <a href="change.html">修改</a>
                    <a href="#">删除</a>
                </td>
            </tr>
            {% endfor %}
        </table>
</body>
</html>